svg{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  max-width:20em;
  max-height:20em;
  margin:auto auto;
  z-index: 0;
}

.main-intro {
  background: url('../images/animation.svg');
  background-size: 20% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -55px;
}

#phone-number{
  position: relative;
  top: -4px;
  font-weight: bold;
}

#meet-team {
  text-align: center;
}

.service-page .service {
  border: 1px solid gray;
  padding: 10px;
  padding-top: 20px !important;
}

#services .service-page .service p {
  text-align: left;
  font-size: 17px;
}
