	<div class="box-wrap">
		<%= render SoftwareAgency.SharedView, "header.html", conn: @conn %>
		<%= render SoftwareAgency.SharedView, "intro.html", conn: @conn %>
		<%= render SoftwareAgency.SharedView, "portfolios.html", conn: @conn %>
		<%= render SoftwareAgency.SharedView, "services.html", conn: @conn %>
		<%= render SoftwareAgency.SharedView, "footer.html", conn: @conn %>
	</div>
