<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
        <div class="intro animate-box">
          <h2>We are web development agency based in Ho Chi Minh city. We build great software with Ruby on Rails and Javascript. </h2>
        </div>
      </div>
    </div>
  <div>
</section>
