<div class="container" id="let-build">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <a href="/contact" class="btn btn-info">Let's build a project together</a>
    </div>
  </div>
  <br/>
</div>
